#logo {
    background-image: url("tsunami.jpg");
    background-size: contain;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: blue;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: blue;
    overflow: auto;
    
}

#logo img{
    
    width: 10%;
    padding: 5px;
    overflow: auto;
}

#logo a {   
    text-decoration: none;
    color: crimson;
    display: inline-block;
    background-color: white;
    margin: 5px;
    padding: 5px;
}


.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 1em 7em;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 1em 7em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 1em 5em;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .grid-container {
    display: grid;
    background-color:aliceblue;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 8% 12% 12% 12% 12%;
    column-gap: 2em;
    row-gap: 3em;
    border: solid 1px #333;
    
}

.grid-container a {
  display: flex;
  align-items: center;
  
}

.resources {

  background-color: aliceblue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-items: center;
  justify-items: center;
  
}

.wellness {

  background-color: aliceblue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  align-items: center;
  justify-items: center;
  
}

.viewpoint {

  background-color: aliceblue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  align-items: center;
  justify-items: center;
  
}

.ches {

  background-color: aliceblue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  align-items: center;
  justify-items: center;
  
}

.myce {

  background-color: aliceblue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
  align-items: center;
  justify-items: center;
  
}

.announcements {

  background-color: aliceblue;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  align-items: center;
  justify-items: center;
}

.aheader {
  background-color: aliceblue;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  align-items: center;
  justify-items: center;
}

.hospitals {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;  
}

.hospitals summary {
  font-size: 3em;
}

.hospitals p { 
  font-size: 1.5em;
}

.hospitals h4 { 
  font-size: 1.5em;
}

.hospitals a { 
  font-size: 1.5em;
}

.hospitals details { 
  margin-bottom: 1em;
}

#passdiv {
  width: 100%;
  font-size: 2.5em;
  text-align: center;

}
#passdiv form{
  display: inline-block;
}
  